# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
pubspec.lock
.metadata
web_entrypoint.dart
pubspec.lock
flutter/
android/app/.cxx/RelWithDebInfo/2n5k1qu4/hash_key.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/additional_project_files.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/android_gradle_build.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/build_file_index.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/build.ninja
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/cmake_install.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/CMakeCache.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/prefab_config.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/.cmake/api/v1/reply/cache-v2-8af1e0588e5d44726364.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-845e6e254822f76b52d6.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-ca6c004bf289098a9e9a.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/.cmake/api/v1/reply/index-2025-08-02T08-36-39-0357.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/CMakeFiles/cmake.check_cache
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/RelWithDebInfo/2n5k1qu4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/additional_project_files.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/android_gradle_build.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/build_file_index.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/build.ninja
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/cmake_install.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/CMakeCache.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/prefab_config.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/.cmake/api/v1/reply/cache-v2-562a65c7d65491d816ab.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-c22797911b995ba14213.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-43bd05854f30da6191d6.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/.cmake/api/v1/reply/index-2025-08-02T08-36-40-0592.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/RelWithDebInfo/2n5k1qu4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/additional_project_files.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/android_gradle_build_mini.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/android_gradle_build.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/build_file_index.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/build.ninja
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/cmake_install.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/CMakeCache.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/configure_fingerprint.bin
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/metadata_generation_command.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/prefab_config.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/symbol_folder_index.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/.cmake/api/v1/reply/cache-v2-ae52d1117caf07f76e26.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/.cmake/api/v1/reply/cmakeFiles-v1-831d2ad9967d20d99fe5.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/.cmake/api/v1/reply/codemodel-v2-bdbc47d0a25acc7ff693.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/.cmake/api/v1/reply/index-2025-08-02T08-36-41-0634.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/CMakeFiles/cmake.check_cache
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/CMakeFiles/rules.ninja
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/CMakeFiles/TargetDirectories.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/additional_project_files.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/android_gradle_build_mini.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/android_gradle_build.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/build_file_index.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/build.ninja
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/cmake_install.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/CMakeCache.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/configure_fingerprint.bin
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/metadata_generation_command.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/prefab_config.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/symbol_folder_index.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/.cmake/api/v1/reply/cache-v2-6e030e5551c4ee7f8fe8.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-7fb787b6ac03e0999e8f.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/.cmake/api/v1/reply/codemodel-v2-6343d45b6de5a0df41c3.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/.cmake/api/v1/reply/index-2025-08-02T08-36-42-0585.json
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/CMakeFiles/cmake.check_cache
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/CMakeFiles/rules.ninja
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/CMakeFiles/TargetDirectories.txt
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/RelWithDebInfo/2n5k1qu4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/5o3z5334/hash_key.txt
android/app/.cxx/Debug/5o3z5334/arm64-v8a/additional_project_files.txt
android/app/.cxx/Debug/5o3z5334/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/Debug/5o3z5334/arm64-v8a/android_gradle_build.json
android/app/.cxx/Debug/5o3z5334/arm64-v8a/build_file_index.txt
android/app/.cxx/Debug/5o3z5334/arm64-v8a/build.ninja
android/app/.cxx/Debug/5o3z5334/arm64-v8a/cmake_install.cmake
android/app/.cxx/Debug/5o3z5334/arm64-v8a/CMakeCache.txt
android/app/.cxx/Debug/5o3z5334/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/5o3z5334/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/Debug/5o3z5334/arm64-v8a/prefab_config.json
android/app/.cxx/Debug/5o3z5334/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/Debug/5o3z5334/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/5o3z5334/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/5o3z5334/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/5o3z5334/arm64-v8a/.cmake/api/v1/reply/cache-v2-744efe8a4f5f4604aa51.json
android/app/.cxx/Debug/5o3z5334/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-e2c13fbc7381c799d850.json
android/app/.cxx/Debug/5o3z5334/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-ccd61baeb0e1484ffe76.json
android/app/.cxx/Debug/5o3z5334/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/5o3z5334/arm64-v8a/.cmake/api/v1/reply/index-2025-04-30T10-08-55-0926.json
android/app/.cxx/Debug/5o3z5334/arm64-v8a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/5o3z5334/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/5o3z5334/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/5o3z5334/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/5o3z5334/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/5o3z5334/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/5o3z5334/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/5o3z5334/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/5o3z5334/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/5o3z5334/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/5o3z5334/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/5o3z5334/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/additional_project_files.txt
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/android_gradle_build.json
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/build_file_index.txt
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/build.ninja
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/cmake_install.cmake
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/CMakeCache.txt
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/prefab_config.json
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/.cmake/api/v1/reply/cache-v2-debdc5b7cefb361018b8.json
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-e27082f21c4507d2f559.json
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-b9bebe653ff38e3edfd3.json
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-30T10-08-57-0703.json
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/5o3z5334/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/5o3z5334/x86/additional_project_files.txt
android/app/.cxx/Debug/5o3z5334/x86/android_gradle_build_mini.json
android/app/.cxx/Debug/5o3z5334/x86/android_gradle_build.json
android/app/.cxx/Debug/5o3z5334/x86/build_file_index.txt
android/app/.cxx/Debug/5o3z5334/x86/build.ninja
android/app/.cxx/Debug/5o3z5334/x86/cmake_install.cmake
android/app/.cxx/Debug/5o3z5334/x86/CMakeCache.txt
android/app/.cxx/Debug/5o3z5334/x86/configure_fingerprint.bin
android/app/.cxx/Debug/5o3z5334/x86/metadata_generation_command.txt
android/app/.cxx/Debug/5o3z5334/x86/prefab_config.json
android/app/.cxx/Debug/5o3z5334/x86/symbol_folder_index.txt
android/app/.cxx/Debug/5o3z5334/x86/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/5o3z5334/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/5o3z5334/x86/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/5o3z5334/x86/.cmake/api/v1/reply/cache-v2-3625ed158ea8eee0da60.json
android/app/.cxx/Debug/5o3z5334/x86/.cmake/api/v1/reply/cmakeFiles-v1-27c21d5975c7a9999411.json
android/app/.cxx/Debug/5o3z5334/x86/.cmake/api/v1/reply/codemodel-v2-4ba98a3ad7692b1d169b.json
android/app/.cxx/Debug/5o3z5334/x86/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/5o3z5334/x86/.cmake/api/v1/reply/index-2025-04-30T10-08-58-0869.json
android/app/.cxx/Debug/5o3z5334/x86/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/5o3z5334/x86/CMakeFiles/rules.ninja
android/app/.cxx/Debug/5o3z5334/x86/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/5o3z5334/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/5o3z5334/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/5o3z5334/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/5o3z5334/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/5o3z5334/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/5o3z5334/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/5o3z5334/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/5o3z5334/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/5o3z5334/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/5o3z5334/x86_64/additional_project_files.txt
android/app/.cxx/Debug/5o3z5334/x86_64/android_gradle_build_mini.json
android/app/.cxx/Debug/5o3z5334/x86_64/android_gradle_build.json
android/app/.cxx/Debug/5o3z5334/x86_64/build_file_index.txt
android/app/.cxx/Debug/5o3z5334/x86_64/build.ninja
android/app/.cxx/Debug/5o3z5334/x86_64/cmake_install.cmake
android/app/.cxx/Debug/5o3z5334/x86_64/CMakeCache.txt
android/app/.cxx/Debug/5o3z5334/x86_64/configure_fingerprint.bin
android/app/.cxx/Debug/5o3z5334/x86_64/metadata_generation_command.txt
android/app/.cxx/Debug/5o3z5334/x86_64/prefab_config.json
android/app/.cxx/Debug/5o3z5334/x86_64/symbol_folder_index.txt
android/app/.cxx/Debug/5o3z5334/x86_64/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/5o3z5334/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/5o3z5334/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/5o3z5334/x86_64/.cmake/api/v1/reply/cache-v2-75a83afedc68efea5b59.json
android/app/.cxx/Debug/5o3z5334/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-b805fdd0c60fb4c7db9b.json
android/app/.cxx/Debug/5o3z5334/x86_64/.cmake/api/v1/reply/codemodel-v2-4809791a2e27aa189446.json
android/app/.cxx/Debug/5o3z5334/x86_64/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/5o3z5334/x86_64/.cmake/api/v1/reply/index-2025-04-30T10-08-59-0844.json
android/app/.cxx/Debug/5o3z5334/x86_64/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/5o3z5334/x86_64/CMakeFiles/rules.ninja
android/app/.cxx/Debug/5o3z5334/x86_64/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/5o3z5334/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/5o3z5334/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/5o3z5334/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/5o3z5334/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/5o3z5334/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/5o3z5334/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/5o3z5334/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/5o3z5334/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/5o3z5334/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
linux/runner/my_application.h
linux/runner/my_application.cc
linux/runner/main.cc
linux/runner/CMakeLists.txt
linux/CMakeLists.txt
linux/.gitignore
