# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
pubspec.lock
.metadata
web_entrypoint.dart
android/app/.cxx/Debug/6d24f2zf/hash_key.txt
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/additional_project_files.txt
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/android_gradle_build.json
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/build_file_index.txt
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/build.ninja
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/cmake_install.cmake
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/CMakeCache.txt
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/prefab_config.json
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/.cmake/api/v1/reply/cache-v2-75650dfe90d4fc91af6f.json
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-5d290e1febb9159b1837.json
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-1fade83b799ca2761168.json
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/.cmake/api/v1/reply/index-2025-04-13T20-53-05-0046.json
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/6d24f2zf/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/additional_project_files.txt
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/android_gradle_build.json
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/build_file_index.txt
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/build.ninja
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/cmake_install.cmake
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/CMakeCache.txt
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/prefab_config.json
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/.cmake/api/v1/reply/cache-v2-73beba1723db0a37d20b.json
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-b113b6d09d3684892542.json
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-10b5ff7af292a3f0c9cd.json
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-13T20-53-08-0449.json
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/6d24f2zf/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/6d24f2zf/x86/additional_project_files.txt
android/app/.cxx/Debug/6d24f2zf/x86/android_gradle_build_mini.json
android/app/.cxx/Debug/6d24f2zf/x86/android_gradle_build.json
android/app/.cxx/Debug/6d24f2zf/x86/build_file_index.txt
android/app/.cxx/Debug/6d24f2zf/x86/build.ninja
android/app/.cxx/Debug/6d24f2zf/x86/cmake_install.cmake
android/app/.cxx/Debug/6d24f2zf/x86/CMakeCache.txt
android/app/.cxx/Debug/6d24f2zf/x86/configure_fingerprint.bin
android/app/.cxx/Debug/6d24f2zf/x86/metadata_generation_command.txt
android/app/.cxx/Debug/6d24f2zf/x86/prefab_config.json
android/app/.cxx/Debug/6d24f2zf/x86/symbol_folder_index.txt
android/app/.cxx/Debug/6d24f2zf/x86/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/6d24f2zf/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/6d24f2zf/x86/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/6d24f2zf/x86/.cmake/api/v1/reply/cache-v2-deb74069b83b2eaf4c60.json
android/app/.cxx/Debug/6d24f2zf/x86/.cmake/api/v1/reply/cmakeFiles-v1-817d2c05e1d8a35ea6ac.json
android/app/.cxx/Debug/6d24f2zf/x86/.cmake/api/v1/reply/codemodel-v2-bc32c4d160ee7af328fb.json
android/app/.cxx/Debug/6d24f2zf/x86/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/6d24f2zf/x86/.cmake/api/v1/reply/index-2025-04-13T20-53-11-0345.json
android/app/.cxx/Debug/6d24f2zf/x86/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/6d24f2zf/x86/CMakeFiles/rules.ninja
android/app/.cxx/Debug/6d24f2zf/x86/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/6d24f2zf/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/6d24f2zf/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/6d24f2zf/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/6d24f2zf/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/6d24f2zf/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/6d24f2zf/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/6d24f2zf/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/6d24f2zf/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/6d24f2zf/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/6d24f2zf/x86_64/additional_project_files.txt
android/app/.cxx/Debug/6d24f2zf/x86_64/android_gradle_build_mini.json
android/app/.cxx/Debug/6d24f2zf/x86_64/android_gradle_build.json
android/app/.cxx/Debug/6d24f2zf/x86_64/build_file_index.txt
android/app/.cxx/Debug/6d24f2zf/x86_64/build.ninja
android/app/.cxx/Debug/6d24f2zf/x86_64/cmake_install.cmake
android/app/.cxx/Debug/6d24f2zf/x86_64/CMakeCache.txt
android/app/.cxx/Debug/6d24f2zf/x86_64/configure_fingerprint.bin
android/app/.cxx/Debug/6d24f2zf/x86_64/metadata_generation_command.txt
android/app/.cxx/Debug/6d24f2zf/x86_64/prefab_config.json
android/app/.cxx/Debug/6d24f2zf/x86_64/symbol_folder_index.txt
android/app/.cxx/Debug/6d24f2zf/x86_64/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/6d24f2zf/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/6d24f2zf/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/6d24f2zf/x86_64/.cmake/api/v1/reply/cache-v2-eb1d4f40be874d5aa49e.json
android/app/.cxx/Debug/6d24f2zf/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-510b2e2ef53f5528c2ab.json
android/app/.cxx/Debug/6d24f2zf/x86_64/.cmake/api/v1/reply/codemodel-v2-73ab1ac7bc6bad0412c5.json
android/app/.cxx/Debug/6d24f2zf/x86_64/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/6d24f2zf/x86_64/.cmake/api/v1/reply/index-2025-04-13T20-53-14-0013.json
android/app/.cxx/Debug/6d24f2zf/x86_64/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/6d24f2zf/x86_64/CMakeFiles/rules.ninja
android/app/.cxx/Debug/6d24f2zf/x86_64/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/6d24f2zf/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/6d24f2zf/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/6d24f2zf/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/6d24f2zf/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/6d24f2zf/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/6d24f2zf/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/6d24f2zf/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/6d24f2zf/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/6d24f2zf/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
.metadata
.metadata
android/app/.cxx/RelWithDebInfo/586y3c5n/hash_key.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/additional_project_files.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/android_gradle_build.json
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/build_file_index.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/build.ninja
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/cmake_install.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/CMakeCache.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/prefab_config.json
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/.cmake/api/v1/reply/cache-v2-99bb1fa504276a59f8c7.json
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-272362e4335c1099e997.json
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-03067f455bb50f6630b0.json
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/.cmake/api/v1/reply/index-2025-04-13T21-29-58-0860.json
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/CMakeFiles/cmake.check_cache
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/RelWithDebInfo/586y3c5n/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/additional_project_files.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/android_gradle_build.json
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/build_file_index.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/build.ninja
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/cmake_install.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/CMakeCache.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/prefab_config.json
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/.cmake/api/v1/reply/cache-v2-00d675afeca6aed1e7ae.json
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-9a7d42b7a60e36560bfb.json
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-b38680028a41ba7caf16.json
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-13T21-30-01-0243.json
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/RelWithDebInfo/586y3c5n/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/additional_project_files.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/android_gradle_build_mini.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/android_gradle_build.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/build_file_index.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/build.ninja
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/cmake_install.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/CMakeCache.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/configure_fingerprint.bin
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/metadata_generation_command.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/prefab_config.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/symbol_folder_index.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/.cmake/api/v1/reply/cache-v2-a869093a3d0e78c6f074.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/.cmake/api/v1/reply/cmakeFiles-v1-3fa7428cadb25e4d9e7b.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/.cmake/api/v1/reply/codemodel-v2-6d8f2c207858b935934a.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/.cmake/api/v1/reply/index-2025-04-13T21-30-04-0383.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/CMakeFiles/cmake.check_cache
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/CMakeFiles/rules.ninja
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/CMakeFiles/TargetDirectories.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/RelWithDebInfo/586y3c5n/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/additional_project_files.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/android_gradle_build_mini.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/android_gradle_build.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/build_file_index.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/build.ninja
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/cmake_install.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/CMakeCache.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/configure_fingerprint.bin
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/metadata_generation_command.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/prefab_config.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/symbol_folder_index.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/.cmake/api/v1/reply/cache-v2-7903b379ec12938f5ad3.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-aa17af5f63bc6046fba1.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/.cmake/api/v1/reply/codemodel-v2-d4df4786eda138878cc8.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/.cmake/api/v1/reply/index-2025-04-13T21-30-07-0336.json
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/CMakeFiles/cmake.check_cache
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/CMakeFiles/rules.ninja
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/CMakeFiles/TargetDirectories.txt
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/RelWithDebInfo/586y3c5n/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
.metadata
